# pandas层次化索引

## 1. 创建多层行索引

### 1) 隐式构造

最常见的方法是给DataFrame构造函数的index参数传递两个或更多的数组

- Series也可以创建多层索引

In [4]:
s = Series(data = np.random.randint(0,150,size = 6),
           index =[['张三','张三','李四','李四','Michael','Michael'],['期中','期末','期中','期末','期中','期末']] )
s

张三       期中     40
         期末     79
李四       期中     88
         期末    109
Michael  期中    146
         期末     51
dtype: int64

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
df = DataFrame(data = np.random.randint(0,150,size = (6,3)),
               columns = ['Python','Java','PHP'],
              index = [['张三','张三','李四','李四','Michael','Michael'],['期中','期末','期中','期末','期中','期末']])
#隐式创建
df

            Python  Java  PHP
张三      期中      87    65  129
        期末     147    31  120
李四      期中      38    31   74
        期末      38    86   99
Michael 期中     107   123   46
        期末      21   149   72

### 2) 显示构造pd.MultiIndex

- 使用数组

In [5]:
df2 = DataFrame(data = np.random.randint(0,150,size = (6,4)),
               columns = ["Spring",'Summer','Autumn','Winter'],
               index = pd.MultiIndex.from_arrays([['张三','张三','李四','李四','Michael','Michael'],['期中','期末','期中','期末','期中','期末']]))

df2

            Spring  Summer  Autumn  Winter
张三      期中      33      61     104     117
        期末      45      20      94      61
李四      期中      39      94     144       4
        期末      38      67     113     111
Michael 期中      33       5      39     135
        期末     117      87       5     118

- 使用tuple

In [6]:
df3 = DataFrame(data = np.random.randint(0,150,size = (6,4)),
               columns = ["Spring",'Summer','Autumn','Winter'],
               index = pd.MultiIndex.from_tuples([('张三','期中'),('张三','期末'),('李四','期中'),('李四','期末'),('Sara','期中'),('Sara','期末')]))

df3

         Spring  Summer  Autumn  Winter
张三   期中      31      57     124      34
     期末     134      20      60      55
李四   期中      33      70     128      47
     期末       9      55     101     117
Sara 期中      14     114     146     147
     期末     108     114      73      86

- 使用product

    最简单，推荐使用

In [8]:
df4 = DataFrame(data = np.random.randint(0,150,size = (12,4)),
               columns = ["Spring",'Summer','Autumn','Winter'],
               index = pd.MultiIndex.from_product([['张三','Sara','Lisa'],['middle','end'],list('AB')]))

df4

               Spring  Summer  Autumn  Winter
张三   middle A      61      58      64     105
            B     118     121       8      81
     end    A     135     147     141     107
            B      97      29      31      56
Sara middle A     111      90       9     128
            B      40      95     149      44
     end    A       9       8      97       0
            B      70      16      60      10
Lisa middle A      23     142      65      67
            B      75     113     122       0
     end    A     126      15     138      28
            B     125     118       1     110

============================================

练习8：

1. 创建一个DataFrame，表示出张三李四期中期末各科成绩

============================================

## 2. 多层列索引

除了行索引index，列索引columns也能用同样的方法创建多层索引

In [9]:
df5 = DataFrame(data = np.random.randint(0,150,size = (4,12)),
               columns = pd.MultiIndex.from_product([['张三','Sara','Lisa'],['middle','end'],list('AB')]),
               index = ["Spring",'Summer','Autumn','Winter'])

df5

           张三                 Sara                  Lisa
       middle       end     middle       end      middle      end
            A    B    A   B      A    B    A    B      A   B    A    B
Spring    131    7   14  21    119   72   92  139    132  63  142   56
Summer    105  118  122  19     17  133  100   36    120  20  129  136
Autumn    100  121   32  53    109   57  104  125     96  68   76   89
Winter     73   16   54  42     74   48  129   25     56  39   28  113

## 3. 多层索引对象的索引与切片操作

### 1）Series的操作

【重要】对于Series来说，直接中括号[]与使用.loc()完全一样，因此，推荐使用中括号索引和切片。

In [10]:
s

张三       期中     40
         期末     79
李四       期中     88
         期末    109
Michael  期中    146
         期末     51
dtype: int64

In [33]:
#多层索引进行切片时，有些汉字，或者英文，不识别，运行异常，并不是代码的问题，自身的bug

s.index = pd.MultiIndex.from_product([['张三','李四','静静'],['期中','期末']])
s

张三  期中     40
    期末     79
李四  期中     88
    期末    109
静静  期中    146
    期末     51
dtype: int64

In [34]:
s['张三':'李四']

张三  期中     40
    期末     79
李四  期中     88
    期末    109
dtype: int64

(1) 索引

In [13]:
s['张三']

期中    40
期末    79
dtype: int64

In [12]:
s['张三','期中']

40

In [14]:
#多层索引，有层的概念
s.loc['期中']

KeyError: 'the label [期中] is not in the [index]'

In [15]:
s.loc['李四','期末']

109

(2) 切片

In [19]:
s.iloc[0:3]

张三  期中    40
    期末    79
李四  期中    88
dtype: int64

In [20]:
s['张三':'Michael']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [21]:
s.loc['张三':'Michael']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [23]:
s2 = Series(data = np.random.randint(0,150,size = 6),index = pd.MultiIndex.from_product([list('ABC'),['e','f']]))
s2

A  e     46
   f     93
B  e     76
   f     77
C  e     61
   f    125
dtype: int64

In [24]:
s2['A':'C']

A  e     46
   f     93
B  e     76
   f     77
C  e     61
   f    125
dtype: int64

In [25]:
s2.loc['A':'B']

A  e    46
   f    93
B  e    76
   f    77
dtype: int64

### 2）DataFrame的操作

(1) 可以直接使用列名称来进行列索引

In [36]:
df3

         Spring  Summer  Autumn  Winter
张三   期中      31      57     124      34
     期末     134      20      60      55
李四   期中      33      70     128      47
     期末       9      55     101     117
Sara 期中      14     114     146     147
     期末     108     114      73      86

In [41]:
df3['Spring']['张三','期中']

31

In [42]:
#DataFrame多层索引和之前索引类似
#df [] 代表着列索引
df3['Spring','李四']

KeyError: ('Spring', '李四')

In [44]:
df3.index = pd.MultiIndex.from_product([list('ABC'),list('ab')])
df3

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117
C a      14     114     146     147
  b     108     114      73      86

In [45]:
#使用切片
df3['A':'B']

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117

(2) 使用行索引需要用loc()等函数

【极其重要】推荐使用loc()函数

注意在对行索引的时候，若一级行索引还有多个，对二级行索引会遇到问题！也就是说，无法直接对二级索引进行索引，必须让二级索引变成一级索引后才能对其进行索引！

In [46]:
df3.loc['A']

   Spring  Summer  Autumn  Winter
a      31      57     124      34
b     134      20      60      55

In [47]:
df3.loc['B','a']

Spring     33
Summer     70
Autumn    128
Winter     47
Name: (B, a), dtype: int64

In [51]:
df3.loc['a']

KeyError: 'the label [a] is not in the [index]'

In [50]:
df3.loc[['A','B']]

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117

In [52]:
df3.loc['A':'B']

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117

In [54]:
df3.iloc[0:3]

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47

============================================

练习9：

1. 分析比较Series和DataFrame各种索引的方式，熟练掌握.loc()方法

2. 假设张三再一次在期中考试的时候因为特殊原因放弃英语考试，如何实现？

============================================

## 4. 索引的堆（stack）

- ``stack()``
- ``unstack()``

小技巧】使用stack()的时候，level等于哪一个，哪一个就消失，出现在行里。

In [55]:
df5

           张三                 Sara                  Lisa
       middle       end     middle       end      middle      end
            A    B    A   B      A    B    A    B      A   B    A    B
Spring    131    7   14  21    119   72   92  139    132  63  142   56
Summer    105  118  122  19     17  133  100   36    120  20  129  136
Autumn    100  121   32  53    109   57  104  125     96  68   76   89
Winter     73   16   54  42     74   48  129   25     56  39   28  113

In [58]:
df5.stack(level = 0)

             end      middle
               A    B      A    B
Spring Lisa  142   56    132   63
       Sara   92  139    119   72
       张三     14   21    131    7
Summer Lisa  129  136    120   20
       Sara  100   36     17  133
       张三    122   19    105  118
Autumn Lisa   76   89     96   68
       Sara  104  125    109   57
       张三     32   53    100  121
Winter Lisa   28  113     56   39
       Sara  129   25     74   48
       张三     54   42     73   16

In [61]:
df4.unstack(level=1)

       Spring        Summer        Autumn        Winter
          end middle    end middle    end middle    end middle
Lisa A    126     23     15    142    138     65     28     67
     B    125     75    118    113      1    122    110      0
Sara A      9    111      8     90     97      9      0    128
     B     70     40     16     95     60    149     10     44
张三   A    135     61    147     58    141     64    107    105
     B     97    118     29    121     31      8     56     81

【小技巧】使用unstack()的时候，level等于哪一个，哪一个就消失，出现在列里。

============================================

练习10：

1. 使用unstack()将ddd变为两行，分别为期中期末

2. 使用unstack()将ddd变为四行，分别为四个科目

============================================

## 5. 聚合操作

【注意】

- 需要指定axis

- 【小技巧】和unstack()相反，聚合的时候，axis等于哪一个，哪一个就会进行计算。

所谓的聚合操作：平均数，方差，最大值，最小值……

In [64]:
df3

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117
C a      14     114     146     147
  b     108     114      73      86

In [67]:
df3.mean(axis = 'columns')

A  a     61.50
   b     67.25
B  a     69.50
   b     70.50
C  a    105.25
   b     95.25
dtype: float64

In [69]:
df3

     Spring  Summer  Autumn  Winter
A a      31      57     124      34
  b     134      20      60      55
B a      33      70     128      47
  b       9      55     101     117
C a      14     114     146     147
  b     108     114      73      86

In [68]:
#数据离散的程度，
df3.std()

Spring    52.738664
Summer    36.740532
Autumn    33.571814
Winter    44.086279
dtype: float64

============================================

练习11：

1. 计算各个科目期中期末平均成绩

2. 计算各科目张三李四的最高分

============================================